.card-product {
	margin-bottom: 20px;
	@media (max-width: 991px) {
		margin-top: 150px;
	}
	@media (max-width: 768px) {
		margin-top: 130px;
	}
	&__swiper {
		background-color: $color-white;
		border-radius: 5px;
	}

	&__wrapper {
	}

	&__slide {
	}

	&__items {
		display: flex;
		flex-direction: row;
		height: auto;
		@media (max-width: 991px) {
		}
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__item {
		width: 50%;
		@media (max-width: 768px) {
			flex: 1 1 100%;
			width: 100%;
			// height: 50%;
			// height: auto;
		}
		&:last-child {
			padding: 20px 20px 20px 30px;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			@media (max-width: 768px) {
				padding: 0px 10px 10px 10px;
			}
		}
		&:first-child {
			padding-right: 10px;
			@media (max-width: 768px) {
				padding-right: 0px;
			}
		}
	}

	&__img {
		padding: 5px 10px;
		height: auto;
		margin-bottom: 0px;
		@media (max-width: 991px) {
			&::after {
				display: none;
			}
		}
		@media (max-width: 768px) {
			padding: 0px;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		font-size: 42px;
		line-height: 40px;
		margin-bottom: 10px;
		@media (max-width: 1200px) {
			font-size: 32px;
			line-height: 30px;
		}
		@media (max-width: 991px) {
		}
		@media (max-width: 768px) {
		}
	}

	&__weight {
		color: $color-orange;
		flex: 1 1 auto;
		margin-bottom: 20px;
	}

	&__calc {
		margin-bottom: 30px;
		& svg {
			width: 30px;
			height: 30px;
		}
		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}
		@media (max-width: 991px) {
			margin-bottom: 10px;
		}
		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
	}
	&__minus {
		width: 30px;
		height: 30px;
	}
	&__plus {
		width: 30px;
		height: 30px;
	}
	&__price {
		font-size: 28px;
		font-weight: 700;
	}
	&__compound {
		margin-bottom: 30px;
		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}
		@media (max-width: 991px) {
		}
		@media (max-width: 768px) {
			// flex: 1 1 auto;
		}
		//
	}
	&__button {
		display: flex;
		// flex-direction: row-reverse;
		justify-content: flex-end;
		padding: 0;
		// padding: 15px;
		background-color: transparent;

		// width: 50%;
		// width: calc(50% -150px);
	}
	&__btn {
		position: static;
		padding: 15px 40px;
		// background-color: $color-orange;
		border-radius: 5px;
		font-size: 42px;
		width: 50%;
		text-align: center;
		@media (max-width: 1200px) {
			font-size: 30px;
			padding: 15px 30px;
		}
		// @media (max-width: 991px) {
		// 	font-size: 30px;
		// }
		@media (max-width: 768px) {
			font-size: 24px;
			padding: 15px 30px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		max-width: 1170px;
		margin: auto;
		flex-direction: row-reverse;
	}

	&__button-next {
		position: static;
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;

		&::before {
			content: "вперед";
			font-size: 18px;
			color: black;
			margin-left: -100px;
			margin-right: 20px;
			// position: absolute;
			// top: -260px;
			// right: 280px;
		}
		&::after {
			content: "";
			display: block;
			background: url(../img/arrow-right.svg) no-repeat;
			width: 20px;
			height: 20px;
			transform: scale(2);
			padding-left: 20px;
			// position: absolute;
			// top: -260px;
			// right: 250px;
		}
	}

	&__button-prev {
		position: static;
		display: flex;
		// flex-direction: row-reverse;
		margin-bottom: 10px;
		&::before {
			content: "назад";
			font-size: 18px;
			color: $color-black;
			margin-right: -83px;
			margin-left: 100px;
			// position: absolute;
			// top: -260px;
			// left: 280px;
		}
		&::after {
			content: "";
			display: block;
			background: url(../img/arrow-right.svg) no-repeat;

			transform: rotate(180deg) scale(2);
			width: 20px;
			height: 20px;
			padding-right: 20px;
			margin-right: 40px;
			// padding: 20px 20px 20px 20px;
			// position: absolute;
			// top: -260px;
			// left: 250px;
		}
	}
}
.compound {
	&__title {
		margin-bottom: 5px;
	}

	&__text {
	}
}

.cart-mobile {
	display: none;
	@media (max-width: 991px) {
		position: fixed;
		z-index: 100;
		background-color: $color-bg-gray;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 30px;
		right: 0;
		bottom: 5%;
		// opacity: 0.6;
	}
	@media (max-width: 768px) {
		width: 60px;
		height: 60px;
	}
	& svg {
		@media (max-width: 768px) {
			width: 50px;
			height: 50px;
		}
	}
	&__numb {
		position: absolute;
		top: 0px;
		left: -5px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $color-orange;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-white;
		font-size: 24px;
		@media (max-width: 768px) {
			top: -10px;
			left: -10px;
		}
	}
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.cart-sub-body {
	&__calc {
	}

	&__caunter {
	}

	&__minus {
	}

	&__summa {
	}

	&__plus {
	}

	&__price {
	}
}

._minus {
}
._plus {
}
.btn {
}
.swiper-button-next {
}
.swiper-button-prev {
}
.recommendations {
	margin-bottom: 50px;
}
.recommendations__title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.recommendations {
	&__title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
	&__slide {
	}

	&__body {
		background-color: transparent;
		height: auto;
		// height: 500px;
	}

	&__img {
		display: block;
		width: 200px;
		height: 200px;
		// background-color: $color-bg-gray;
		background-color: $color-white;
		border-radius: 50%;
		position: relative;
		:hover {
			// transform: scale(2);
		}
		// z-index: 20;
		& img {
			// display5: none;
			// height: 95%;
			// width: 95%;
			position: absolute;
			left: 50%;
			top: 50%;
			object-fit: fill;
			transform: translate(-50%, -50%);
			// z-index: -1;
			// width: 150px;
			// height: 150px;
			border-radius: 50%;
			// padding: 15px;
		}
	}

	&__title {
	}

	&__text {
		display: none;
	}

	&__items {
	}

	&__price {
	}

	&__btn {
	}
}
.recommendations__img.slider-menu__img img:hover {
	// display: none;
	// position: relative;
	// top: 0;
	// left: 0;
	// transform: scale(1);
}
