.footer {
	background-color: $color-bg-gray;
	position: relative;
	z-index: 10;
	margin-bottom: 20px;
	@media (max-width: 1400px) {
		text-align: center;
	}
	@media (max-width: 991px) {
		margin-bottom: 10px;
	}
	@media (max-width: 767px) {
		margin-bottom: 10px;
	}
	&__items {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
		margin: 0 -35px;
		position: relative;
		@media (max-width: 1400px) {
			margin: 0 -10px;
		}
		@media (max-width: 991px) {
			display: none;
		}
		&::after {
			content: "";
			display: block;
			width: 92%;
			height: 1px;
			position: absolute;
			left: 4%;
			top: -20px;
			background-color: $color-gray;
		}
	}

	&__item {
		flex: 1 1 33.333%;
		padding: 0 35px;
		@media (max-width: 1400px) {
			padding: 0 10px;
		}
	}

	&__title-about {
		margin-bottom: 20px;
	}

	&__link-about a {
		color: $color-black;
		margin-bottom: 20px;
		display: block;
		transition: 0.3s;
		&:hover {
			color: $color-orange;
		}
	}

	&__title-feedback {
		margin-bottom: 10px;
	}
	&__text-feedback {
		font-size: 16px;
		margin-bottom: 10px;
		line-height: 22px;
		color: $color-gray;
	}
	&__number-feedback {
		margin-bottom: 20px;
		color: $color-black;
		background-color: transparent;
		border: none;
		padding: 5px;
		font-size: 18px;
		width: 100%;
		&::placeholder {
			color: $color-gray;
		}
	}
	&__links-feedback {
		display: flex;
		justify-content: space-evenly;
	}
	&__link-feedback svg,
	&__link-feedback img {
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__link-contacts {
		color: $color-gray;
		margin-bottom: 10px;
		@media (max-width: 1400px) {
			font-size: 14px;
		}
		& a {
			color: $color-gray;
			margin-bottom: 10px;
			transition: 0.3s;
		}
	}
}
.line {
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: $color-gray;
	}
}

.container-body {
}
.footer {
	&__mobile {
		display: none;
		@media (max-width: 991px) {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			background-color: $color-white;
			height: 90px;
			position: relative;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 100%;
				left: 0px;
				right: 0;
				// width: 100%;
				// width: calc(100% + 30px);
				// height: 5.5px;

				// color: $color-gray;
				border-top: 0.5px solid $color-gray;
			}
		}
		@media (max-width: 768px) {
			height: 70px;
		}
	}

	&__mobile-link a {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $color-black;
		& svg {
			margin-bottom: 5px;
		}
	}
}
.footer {
	&__mobile-contacts {
		display: none;
		@media (max-width: 991px) {
			max-width: 400px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: auto;
		}
		@media (max-width: 768px) {
			max-width: 300px;
		}
	}

	&__mobile-item {
		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__text-feedback {
		@media (max-width: 991px) {
			text-align: center;
		}
	}

	&__links-feedback {
		@media (max-width: 991px) {
			margin-bottom: 10px;
		}
	}

	&__link-feedback img,
	&__link-feedback svg {
		@media (max-width: 991px) {
			width: 70px;
			height: 70px;
		}
		@media (max-width: 768px) {
			width: 60px;
			height: 60px;
		}
	}

	&__link-contacts {
	}
}
