.menu {
	flex: 1 1 15%;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		& li {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			padding: 5px;
		}
		& svg {
			margin-right: 20px;
			@media (max-width: 1400px) {
				margin-right: 10px;
			}
			position: relative;
			top: 3px;
		}
		& a {
			font-size: 24px;
			line-height: 30px;
			color: $color-black;
			transition: 0.2s;
			@media (max-width: 1400px) {
				font-size: 20px;
			}
			&:hover {
				color: $color-orange;
			}
		}
	}
}
