$font-body: "PT Sans", sans-serif;
$color-white: #ffffff;
$color-black: rgba(0, 0, 0, 1);
$color-gray: rgba(164, 172, 173, 1);
$color-bg-gray: #f2f2f2;
$color-orange: #ff9846;
$color-orange-btn: #f46d40;
$color-blue: #2d95c5;
